@import "global.css";
:root {
    --menu-item-height: 50px;
    --menu-indicator-width: 10px;
    --menu-indicator-border-radius: var(--menu-indicator-width);
    --height-menu-logo: 120px;
    --width-menu-default: 250px;
    --width-menu-reduced: calc(var(--menu-item-height) + (var(--padding-small)) + var(--menu-indicator-width));
    --width-main-container-default: calc(100% - (var(--padding-large)) - var(--width-menu-default));
    --width-main-container-reduced: calc(100% - (var(--padding-large)) - var(--width-menu-reduced));

    --height-widget-large: 700px;
    --width-widget-large: 750px;
    --height-widget-medium: 500px;
    --width-widget-medium: 500px;
    --height-widget-small: 200px;
    --width-widget-small: 300px;
    --number-stat-line-height: 80px;
    --number-stat-font-size: 60px;
    --number-stat-sub-font-size: calc(var(--number-stat-line-height) - var(--number-stat-font-size));

    --number-stat-reduced-line-height: 45px;
    --number-stat-reduced-font-size: 30px;
    --number-stat-reduced-sub-font-size: calc(var(--number-stat-line-height) - var(--number-stat-font-size));
    --chart-font-size: 14px;
    --chart-title-font-size: 18px;

    --chart-label-padding: 100px;

    --sun-display: block;
    --moon-display: none;
}
/*
    + Side Menu
*/
.side-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--width-menu-default);
    height: calc(100% - (2 * var(--padding-large)));
    padding: var(--padding-large) 0;
    display: grid;
    grid-template-rows: var(--height-menu-logo) var(--menu-item-height) var(--menu-item-height) var(--menu-item-height) auto var(--menu-item-height);
}
.menu-logo {
    width: var(--width-menu-default);
}
.img-logo {
    width: 200px;
    margin: auto;
    display: block;
}
.small-menu-logo {
    display: none;
    height: calc(var(--menu-item-height));
    padding: var(--gap-small);
}
.small-img-logo {
    display: none;
    margin: auto;
    height: 100%;
}
.menu-item {
    height: var(--menu-item-height);
    vertical-align: center;
    padding: 0 0 0 var(--padding-small);
    display: grid;
    align-items: start;
    grid-template-columns: var(--menu-item-height) auto var(--menu-indicator-width);
    column-gap: var(--gap-small);
    fill: var(--color-text);
    cursor: pointer;
    text-decoration: none;
    color: var(--color-text);
}
.menu-item:hover {
    color: var(--color-text);
    text-decoration: none;
}
.menu-item.color-scheme{
    grid-template-columns: var(--menu-item-height);
    width: calc(var(--menu-item-height) + var(--padding-small));
}
.menu-item-icon {
    padding: var(--gap-small) var(--gap-small) 0 var(--gap-small);
    height: calc(var(--menu-item-height) - (2 * var(--gap-small)));
    display: block;
}
.menu-item-text {
    font: var(--font-subtitle);
    font-weight: 400;
    font-style: normal;
    line-height: var(--menu-item-height);
}
.menu-item-indicator {
    height: var(--menu-item-height);
    border-radius: var(--menu-indicator-border-radius) 0 0 var(--menu-indicator-border-radius);
    width: var(--menu-indicator-width);
    position: relative;
    right: 0;
}
.menu-item.active > .menu-item-indicator {
    background-color: var(--color-accent);
    box-shadow: var(--shadow-inner-left), var(--shadow-outer-left-accent);
    border-color: var(--color-panel);
    border-width: 2px;
}
.sun {
    display: var(--sun-display);
}
.moon {
    display: var(--moon-display);
}
.menu-spacer{
    width: var(--width-menu-reduced)
}
/*
    + Frame
*/
.outer-panel {
    background-color: var(--color-panel);
    position: absolute;
    height: calc(100% - (2 * var(--padding-large)));
    width: calc(100% - var(--padding-large));
    padding: var(--padding-large) var(--padding-large) var(--padding-large) 0;
}
.main-container {
    background-color: var(--color-background);
    border-radius: var(--border-radius-large);
    position: absolute;
    top: var(--padding-large);
    right: var(--padding-large);

    width: var(--width-main-container-default);
    height: calc(100% - (2 * var(--padding-large)));

    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.main-container::-webkit-scrollbar {
    display:none;
}

.main-content {
    width: calc(100%);
    height: 100%;
    border-radius: var(--border-radius-large);
    position: relative;
    z-index: 1;
    overflow-x: hidden
}
.main-content-shadow{
    box-shadow: var(--shadow-inner);
    border-radius: var(--border-radius-large);
    pointer-events: none;
    position: absolute;
    top: var(--padding-large);
    right: var(--padding-large);
    z-index: 2;
    width: var(--width-main-container-default);
    height: calc(100% - (2 * var(--padding-large)));
}
/*
    + Dashboard Widgets
*/
.widget-panel {
    color: var(--color-text);
    transition: box-shadow 0.25s, margin 0.25s;
    background-color: var(--color-panel);
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-outer-regular);
    padding: var(--gap-large);
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: default;
}
a.widget-panel {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-text);
}
.widget-panel:hover{
    transition: box-shadow 0.25s, margin 0.25s;
    box-shadow: var(--shadow-outer-emphasized);
    margin-top: -2px;
}
.widget-container {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    overflow: hidden;
    gap: var(--gap-large);
}
.widget-container.row {
    flex-flow: row wrap;
    overflow-x: hidden;
}
.widget-container.row.two-containers {
    flex-basis: calc(50% - (3 * var(--gap-large)));
}
.widget-container.column {
    flex-direction: column;
    gap: 0
}
.widget-container.row.database {
    flex-flow: row;
}
.widget-container.column.database {
    width: calc(100% - (var(--padding-large)));
    height: calc(100% - (var(--padding-large)));
    position: absolute;
    gap: 0;
}
.widget-panel.database {
}
.widget-panel.database:hover{
    transition: none;
    box-shadow: var(--shadow-outer-regular);
    margin-top: 0;
}
.chart-container {
    box-sizing: border-box;
    height: calc(100% - var(--font-size-header) - var(--chart-title-font-size));;
}
.small-width-widget {
    min-width: calc(var(--width-widget-small) - (2 * var(--gap-large)))
}
.small-height-widget {
    height: calc(var(--height-widget-small) - (2 * var(--gap-large)))
}
.medium-width-widget {

}
.medium-height-widget {
    height: calc(var(--height-widget-medium) - (2 * var(--gap-large)))
}
.large-width-widget {
    min-width: calc(var(--width-widget-large) - (2 * var(--gap-large)))
}
.large-height-widget {
    height: calc(var(--height-widget-large) - (2 * var(--gap-large)))
}
.large-height-container {
    height: var(--height-widget-large);
}
.small-width-db {
    min-width: 300px;
    max-width: 300px;
}
.small-height-db {
    max-height: 75px;
    min-height: 75px;
}

.search-form {
    display: flex;
    flex-direction: row;
    gap: var(--gap-large);
}
.form-bar {
    box-sizing: border-box;
    padding: 0 15px;
    background-color: var(--color-background);
    box-shadow: var(--shadow-form-field-inner);
    border-radius: 50px;
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
    width: 100%;
}
.form-dropdown {
    padding: 0 15px;
    background-color: var(--color-background);
    box-shadow: var(--shadow-form-field-inner);
    border-radius: 50px;
    height: 40px;
    width: 100%;
    font: var(--font-text);
    color: var(--color-text);
    border: none;
    outline: none;
}
.form-bar.filter-input {
    max-width: 125px;
}
.filter-entry {
    display: flex;
    flex-direction: column;
    font: var(--font-text);
    color: var(--color-text);
    align-items: center;
    gap: 10px;
}
.search-button {
    transition: box-shadow 0.08s;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--color-background);
    border: none;
    outline: none;
    box-shadow: var(--shadow-button-inner), var(--shadow-button-outer);
    color: var(--color-text);
    fill: var(--color-text);
}
.sort-button-icon {
    transition: filter 0.08s, rotate 0.12s;
    rotate: 0deg;
    width: 15px;
    height: 15px;
    margin: auto;
}
.search-button:active {
    transition: box-shadow 0.1s;
    box-shadow: var(--shadow-form-field-inner);
}
.search-button:active .sort-button-icon{
    transition: filter 0.1s, rotate 0.12s;
    filter: brightness(85%);
}
.form-field {
    font: var(--font-text);
    color: var(--color-text);
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}
.form-field:focus {
    outline: none;
}
.form-field::placeholder {
  color: var(--color-text);
  opacity: 0.5; /* Firefox */
}
.filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.filters{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-text);
    font: var(--font-title);
}
.filter-text {
    margin: auto 0;
    color: var(--color-text);
    font: var(--font-text);
}
.widget-title {
    font: var(--font-header);
}
.widget-text {
    font: var(--font-text);
}

.number-stat {
    vertical-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: var(--number-stat-line-height) auto;
    column-gap: 5px;
    color: var(--color-text);
}
.number-stat-image {
    height: var(--number-stat-line-height);
}
.number-stat-number{
    text-align: right;
    font: var(--font-header);
    font-size: var(--number-stat-font-size);
}
.number-stat-sub-text {
    text-align: right;
    font: var(--font-text);
    font-size: var(--number-stat-sub-font-size);
}

.cve-results-list {
    list-style-type: none;
    height: calc(100%);
    overflow-y: scroll;
    border-radius: var(--border-radius-small);
}
.cve-results-list li {
    border: 1px solid var(--color-panel);
    border-radius: var(--border-radius-small);
    align-content: end;
    background-color: var(--color-background);
    color: var(--color-text);
    display: flex;
    flex-direction: row;
    gap: 0;
}
.score-severity-stack {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    min-width: 60px;
    min-height: 60px;
    text-align: center;
    align-items: center;
}
.score-indicator {
    min-height: 100%;
    min-width: 10px;
    border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}
.cve-content {
    display: inherit;
    padding: var(--gap-large);
    gap: var(--gap-large);
}
.cve_date_container {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}
.cal_icon {
    height: calc(var(--font-size-text) - 2px);
    fill: var(--color-text);
}
.cve_date {
    opacity: 0.8;
    flex-grow: 1;
    flex-basis: 50%;
    font: var(--font-text);
    font-size: calc(var(--font-size-text));
    text-wrap: nowrap;
    white-space: nowrap;
}
.score {
    font: var(--font-header);
}
.score-indicator.info{
    background-color: var(--color-info-severity);
}
.score-indicator.low{
    background-color: var(--color-low-severity);
}
.score-indicator.medium{
    background-color: var(--color-medium-severity);
}
.score-indicator.high{
    background-color: var(--color-high-severity);
}
.score-indicator.critical{
    background-color: var(--color-critical-severity);
}
.cve-id {
    font: var(--font-subtitle);
    font-weight: 700;
}
.cve-description {
    font: var(--font-text);
    opacity: 0.8;
}
.severity {
    font: var(--font-text);
    opacity: 0.8;
}
@media screen and (max-width: 1500px) {
    :root {
        --height-widget-small: 150px;
        --height-widget-large: 600px;
        --number-stat-line-height: 60px;
        --number-stat-font-size: 40px;
    }
}

@media screen and (max-width: 1250px) {
    :root {
        --filter-font-size: var(--font-size-text);
    }
    .widget-container.row.database {
        flex-flow: column-reverse;
    }
    .filters{
        flex-flow: row wrap;
        row-gap: 0;
    }
    .filter-entry {
        flex-basis: calc(50% - 10px);
        gap: 5px;
    }
    .small-width-db {
        max-width: unset;
    }
    .own-line {
        flex-basis: 100%
    }
}
@media screen and (max-width: 1000px) {
    :root {
        --height-widget-small: 125px;
        --width-widget-small: 200px;
        --height-widget-medium: 350px;
        --height-widget-large: 400px;
    }
    .cve-content {
        padding: var(--gap-medium);
        gap: var(--gap-medium);
    }
    .side-menu {
        width: var(--width-menu-reduced) !important;
        grid-template-rows: calc( 2* var(--menu-item-height)) var(--menu-item-height) var(--menu-item-height) var(--menu-item-height) auto var(--menu-item-height);
    }
    .menu-logo {
        width: 0;
        display: none;
    }
    .img-logo {
        width: 0;
        display: none;
    }
    .small-menu-logo {
        display: unset;
    }
    .small-img-logo {
        display: block;
    }
    .menu-item {
        grid-template-columns: calc(var(--menu-item-height) - var(--gap-small)) calc(var(--menu-indicator-width));
        width: calc(var(--width-menu-reduced) - (var(--padding-small)));
    }
    .menu-item-text {
        width: 0;
        display: none;
    }
    .main-container{
        width: var(--width-main-container-reduced);
    }
    .main-content-shadow {
        width: var(--width-main-container-reduced);
    }

    .widget-title {
        font-size: 24px;
    }
    .large-height-container {
        height: calc(var(--height-widget-large)/2);
    }
    .own-line {
        flex-basis: 100%
    }
    .number-stat-image {
        height: var(--number-stat-reduced-line-height);
    }
    .number-stat-number {
        font-size: var(--number-stat-reduced-font-size);
    }
    .number-stat-sub-text {
        font-size: var(--number-stat-reduced-sub-font-size);
    }
}

@media screen and (max-width: 500px) {
    :root{
        --number-stat-line-height: 30px;
        --number-stat-font-size: 18px;
        --number-stat-sub-font-size: calc(var(--number-stat-line-height) - var(--number-stat-font-size));
        --chart-font-size: 8px;
        --chart-title-font-size: 10px;
        --font-size-header: 18px;
        --gap-large: 15px;
        --height-widget-small: 100px;
        --width-widget-small: 150px;
        --height-widget-medium: 250px;
        --height-widget-large: 300px;
    }
    .number-stat-number {
        font-size: var(--number-stat-font-size);
    }
    .number-stat-image {
        height: calc(var(--number-stat-line-height) + 10px);
    }
    .small-width-widget {
        min-width: calc((var(--width-widget-small) - (2 * var(--gap-large))) / 2);
    }
    .chart-container {
        box-sizing: border-box;
        height: calc(100% - var(--font-size-header) - var(--chart-title-font-size));
    }
    .widget-title {
        font: var(--font-header);
    }
    .widget-container {
        gap: calc(var(--gap-large) / 2);
        padding: 5px;
    }
    .cve-content {
        flex-direction: column-reverse;
        gap: var(--gap-small);
    }
    .score-severity-stack {
        flex-direction: row-reverse;
        justify-content: end;
        min-height: unset;
        width: 100%;
        gap: var(--gap-medium);
    }
}